@import "../../../constants";

:host {
  display: flex;
  padding: 16px 0;
  margin: 8px 0;
}

.frame {
  flex-direction: column;
  flex: 1;
  border: 1px solid grey;
  border-radius: 16px;
  background: rgb(250, 250, 250);
  margin: 0 16px;
  width: 300px;
  min-height: 420px;
}

.image {
  border-radius: 16px;
  width: 100%;
  min-height: 220px;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // height: calc(100% - 230px);
}

.container{
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.summary {
  color: $grey;
}

.card-title {
  font-size: large;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 20px;
}

.rating {
  color: $orange;
  font-weight: 600;
}

.info {
  color: $light-black;
  font-weight: 100;
  position: relative;
  padding: 8px 0px;
}

.tags {
  background-color: $light-grey;
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 16px;
  border-radius: 6px;
  margin-right: 4px;
  margin-bottom: 8px;
}

.price {
  font-weight: 600;
}

.fill-up {
  display: flex;
  margin-top: auto;
  // white-space: pre;
}

.star {
  font-size: medium;
  position: relative;
  top: 2px;
}

mat-icon {
  overflow: unset;
}

.offer {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 16px;
  border-radius: 6px;
  margin-right: 4px;
  background-color: $orangeBg;
  color: $orangeFont;
  margin-bottom: 16px;
  margin-top: 16px;
}

button {
  margin: 0 8px 16px 8px;
  width: 100%
}

.delete {
  width: 32px;
}
