@import "../../../constants";

:host {
  display: flex;
  padding: 16px 0;
  margin: 8px 0;
}

.frame {
  flex-direction: column;
  flex: 1;
  border: 1px solid grey;
  border-radius: 16px;
  background: rgb(250, 250, 250);
  margin: 0 16px;
  width: 300px;
  min-height: 420px;
}

.image {
  border-radius: 16px;
  width: 100%;
  height: 220px;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}

.content {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  // height: calc(100% - 230px);
}

.summary {
  color: $grey;
}

.title {
  font-size: large;
  font-weight: 700;
  margin: 8px 0;
  height: 40px;
}

.rating {
  color: $orange;
  font-weight: 600;
}

.info {
  color: $light-black;
  font-weight: 100;
  position: relative;
  padding: 8px 0px;
}

.tags {
  background-color: $light-grey;
  display: inline;
  width: fit-content;
  padding: 2px 16px;
  border-radius: 6px;
  margin-right: 4px;
  margin-bottom: 8px;
}

.price {
font-weight: 600;
}

.price-container {
  display: flex;
  margin-top: auto;
  white-space: pre;
}

.star{
  font-size:medium;
  position: relative;
  top: 2px
}

mat-icon{
  overflow: unset;
}

.offer{
  display: inline;
  width: fit-content;
  padding: 2px 16px;
  border-radius: 6px;
  margin-right: 4px;
  background-color: $orangeBg;
  color: $orangeFont;
  margin-bottom: 16px;
  margin-top: 16px;
}