:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 70vw;
}

.add {
  padding: 8px 32px;
  font-size: large;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  min-height: 80px;
}

.accordion {
  min-width: 500px;
}


.container {
  flex-wrap: wrap;
  height: 100%;
  min-width: 1080px;
  align-content: start;
  justify-content: space-between;
}

.filler{
  width: 330px;
}