<div>
    <label>Click stars to rate the product:</label>
    <div class="stars">
      <mat-icon (click)="setRating(1)" [color]="rating >= 1 ? 'primary' : 'inherit'">star</mat-icon>
      <mat-icon (click)="setRating(2)" [color]="rating >= 2 ? 'primary' : 'inherit'">star</mat-icon>
      <mat-icon (click)="setRating(3)" [color]="rating >= 3 ? 'primary' : 'inherit'">star</mat-icon>
      <mat-icon (click)="setRating(4)" [color]="rating >= 4 ? 'primary' : 'inherit'">star</mat-icon>
      <mat-icon (click)="setRating(5)" [color]="rating >= 5 ? 'primary' : 'inherit'">star</mat-icon>
    </div>
  
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comments"></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.valid">Submit</button>
    </form>
  </div>
  