<div class="flex-col center">
  <p class="title">Products</p>
  <mat-accordion class="accordion">
    <mat-expansion-panel #productPanel>
      <mat-expansion-panel-header class="header">
        <button class="add flex center">
          <mat-icon>add</mat-icon>
          Add Product
        </button>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <form
          [formGroup]="productForm"
          (ngSubmit)="onSubmit()"
          class="flex-col width100"
        >
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" />
            <mat-error *ngIf="productForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <select matNativeControl required formControlName="category">
              <option value="">Select an option</option>
              <option value="Rail Passes">Rail Passes</option>
              <option value="Theme Park">Theme Park</option>
              <option value="Airport trains & buses">
                Airport trains & buses
              </option>
              <option value="Attraction Passes">Attraction Passes</option>
            </select>
            <mat-error
              *ngIf="productForm.get('category')?.hasError('required')"
            >
              Category is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Destination"
              formControlName="destination"
            />
            <mat-error
              *ngIf="productForm.get('destination')?.hasError('required')"
            >
              Destination is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Price US$" formControlName="price" />
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">
              Price is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tags</mat-label>
            <select matNativeControl formControlName="tags">
              <option value="">Select an option</option>
              <option *ngFor="let tag of allTags" [value]="tag">
                {{ tag }}
              </option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Offers</mat-label>
            <select matNativeControl formControlName="offers">
              <option value="">Select an option</option>
              <option *ngFor="let offer of allOffers" [value]="offer">
                {{ offer }}
              </option>
            </select>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="mt16"
            [disabled]="!productForm.valid"
          >
            Submit
          </button>
        </form>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <mat-accordion class="accordion">
    <mat-expansion-panel
      (opened)="(panelOpen === true)"
      (closed)="(panelOpen === false)"
    >
      <mat-expansion-panel-header class="header">
        Report
      </mat-expansion-panel-header>
      <mat-panel-description>
        <app-products-table></app-products-table>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion> -->
</div>
<div class="flex-row container">
  <app-card
    *ngFor="let product of products; let i = index"
    [data]="product"
    [onEdit]="onEdit"
    [index]="i"
    [onDelete]="onDelete"
  ></app-card>
  <div class="filler"></div>
  <div class="filler"></div>
</div>

<div class="nothing" *ngIf="products.length === 0">
  There is no product in the shop!
</div>
