<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Card Holder Name</mat-label>
    <input matInput formControlName="cardHolderName" />
    <mat-error *ngIf="paymentForm.get('cardHolderName')?.hasError('required')">
      Card Holder Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Card Number</mat-label>
    <input
      matInput
      formControlName="cardNumber"
      placeholder="1234 5678 9012 3456"
      inputmode="numeric"
    />
    <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">
      Card Number is required.
    </mat-error>
    <mat-error
      *ngIf="
        paymentForm.get('cardNumber')?.hasError('minlength') ||
        paymentForm.get('cardNumber')?.hasError('maxlength')
      "
    >
      Card Number must be 16 digits.
    </mat-error>
  </mat-form-field>

  <div class="flex-row">
    <mat-form-field appearance="fill">
      <mat-label>Expiry Month</mat-label>
      <mat-select formControlName="expiryMonth">
        <mat-option *ngFor="let month of months" [value]="month">
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="width: 10%"></div>

    <mat-form-field appearance="fill">
      <mat-label>Expiry Year</mat-label>
      <mat-select formControlName="expiryYear">
        <mat-option
          *ngFor="let year of years"
          [value]="year"
        >
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>CVV</mat-label>
    <input matInput formControlName="cvv" inputmode="numeric" />
    <mat-error *ngIf="paymentForm.get('cvv')?.hasError('required')">
      CVV is required.
    </mat-error>
    <mat-error
      *ngIf="
        paymentForm.get('cvv')?.hasError('minlength') ||
        paymentForm.get('cvv')?.hasError('maxlength')
      "
    >
      CVV must be between 3 or 4 digits.
    </mat-error>
  </mat-form-field>

  <div class="flex-row">
    <button mat-raised-button (click)="onBack()" color="warn">Back</button>
    <div class="flex-grow"></div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
