<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="flex-col">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')"
      >Enter a valid email address</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')"
      >Password is required</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Repeat Password"
      formControlName="repeatPassword"
    />
    <mat-error
      *ngIf="registrationForm.get('repeatPassword')?.hasError('required')"
      >Repeat Password is required</mat-error
    >
    <mat-error *ngIf="registrationForm.hasError('passwordMismatch')"
      >Passwords do not match</mat-error
    >
  </mat-form-field>

  <mat-slide-toggle formControlName="isBusiness" class="toggle">Business</mat-slide-toggle>

  <div *ngIf="registrationForm.get('isBusiness')?.value">
    <div class="business">
      <mat-form-field class="business-section">
        <input
          matInput
          placeholder="Business Description"
          formControlName="businessDescription"
        />
        <mat-error
          *ngIf="
            registrationForm.get('businessDescription')?.hasError('required')
          "
          >Business Description is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="business-section">
        <input
          matInput
          placeholder="Business Type"
          formControlName="businessType"
        />
        <mat-error
          *ngIf="registrationForm.get('businessType')?.hasError('required')"
          >Business Type is required</mat-error
        >
      </mat-form-field>
    </div>

  <mat-form-field>
    <input matInput type="text" formControlName="fileSubmission"  readonly class="hidden">
  <input type="file" (change)="onFileSelected($event)" multiple>
    <mat-error *ngIf="registrationForm.get('files')?.hasError('required')">
      Please select at least one file
    </mat-error>
  </mat-form-field>

  <div *ngIf="selectedFiles.length > 0">
    <p>Selected Files:</p>
    <ul>
      <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
    </ul>
  </div>
</div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="mt16"
    [disabled]="!registrationForm.valid"
  >
    Register
  </button>
</form>
