/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border {
  border: solid 1px blue;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.spacer {
  flex: 1;
}

.center {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.centerH {
  align-items: center;
}

mat-icon {
  font-family: "Material Icons" !important;
}

.width100 {
  width: 100%;
}

.mt16 {
  margin-top: 16px;
}

.hidden {
  display: none;
}

.nothing {
  background-color: rgb(255, 197, 197);
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
  margin-top: 32px;
  text-align: center;
}

.title {
  margin: 32px 0 !important;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

app-shop-products div mat-accordion mat-expansion-panel mat-expansion-panel-header span.mat-content {
  justify-content: center;
}
