<mat-toolbar color="secondary" class="flex container">
  <button
    mat-button
    class=""
    aria-label="Example icon-button with menu icon"
    routerLink=""
  >
    <mat-icon>menu</mat-icon>
    <span>PTS</span>
  </button>
  <div class="user">{{user?.email}}</div>
  <span class="spacer"></span>

  <div class="auth" *ngIf="!isLoggedIn">
    <button mat-button class="" aria-label="sign up icon" routerLink="signup">
      <mat-icon>border_color</mat-icon>
      <span>Sign up</span>
    </button>
    <button mat-button class="" aria-label="" routerLink="signin">
      <mat-icon>account_circle</mat-icon>
      <span>Sign in</span>
    </button>
  </div>
  <div class="flex-row" *ngIf="user?.role === 'admin'">
    <button mat-button class="" aria-label="" routerLink="applications">
      <mat-icon>assignment</mat-icon>
      <span>Applications</span>
    </button>
  </div>
  <div class="flex-row" *ngIf="user?.role === 'business'">
    <button mat-button class="" aria-label="" routerLink="reports">
      <mat-icon>assignment</mat-icon>
      <span>Reports</span>
    </button>
    <button mat-button class="" aria-label="" routerLink="shop">
      <mat-icon>shop</mat-icon>
      <span>Shop</span>
    </button>
  </div>
  <div class="flex-row" *ngIf="user?.role === 'customer'">
    <button mat-button class="" aria-label="" routerLink="my-orders">
      <mat-icon>shop</mat-icon>
      <span>My Orders</span>
    </button>
  </div>
  <button
    mat-button
    class=""
    aria-label=""
    (click)="logout()"
    *ngIf="isLoggedIn"
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign out</span>
  </button>
</mat-toolbar>
